* {
  box-sizing: border-box;
}
.barra {
  color: black;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-size: 20px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.fondo {
  background-color: #f084f0;
background-image: linear-gradient(90deg, #f084f0 0%, #61d3dc 86%);
}


